;{{ ansible_managed }}


[{{ item.name }}]
; Defaults
{% for directive, value in php_fpm_pool_defaults.items() | list %}
  {{ directive }} = {{ value }}
{% endfor %}

; Pool custom directives
{% for directive, value in item.items() | list if directive != "name" %}
  {{ directive }} = {{ value }}
{% endfor %}
